@import "tailwindcss";

@theme {
  --color-cyber-black: #0a0a0a;
  --color-cyber-dark: #121212;
  --color-cyber-gray: #1e1e1e;
  --color-cyber-neon: #ff00ff;
  --color-cyber-cyan: #00ffff;
  --color-cyber-green: #00ff00;
  --font-mono: "Fira Code", monospace;
}


:root {
  color-scheme: dark;
}

body {
  @apply bg-cyber-black text-white font-mono;
  margin: 0;
  overflow: hidden;
  /* Prevent scrollbars if we use full height */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}

/* Strudel Embed Override */
strudel-repl iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
}